<ion-header>
  <ion-toolbar>
    <ion-title>Task bearbeiten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding=true>
  <ion-item>
    <ion-label position="stacked">Titel</ion-label>
    <ion-input [(ngModel)]="editTask.title"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Beschreibung</ion-label>
    <ion-input [(ngModel)]="editTask.description"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Fälligkeitsdatum</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="{{editTask.dueDate}}" [(ngModel)]="this.editTask.dueDate">
    </ion-datetime>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Tags</ion-label>
    <ion-select multiple=true [(ngModel)]="tagList">
      <ion-select-option *ngFor="let tag of allTags" value={{tag.title}}>{{tag.title}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Projekt</ion-label>
    <ion-select [(ngModel)]="project">
      <ion-select-option *ngFor="let project of allProjects" value={{project.title}}>{{project.title}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-button (click)='overrideTask()' routerLink="/tabs/tasks">Speichern</ion-button>

</ion-content>
