<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ viewTitle }}
      <span style="float: right">
        <a fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </a>
        <a fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </a>
      </span>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- Change the displayed calendar mode -->

    <!--
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
    </ion-col>
    -->
  </ion-row>

  <calendar
          [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          [dateFormatter]="calendar.dateFormatter"
          (onEventSelected)="onEventSelected($event)"
          (onTimeSelected)="onTimeSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          startHour="6"
          endHour="20"
          step="30"
          startingDayWeek="1"
          [monthviewEventDetailTemplate]="template">
  </calendar>

</ion-content>


<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">

  <!--<app-tasks></app-tasks>-->
  <div padding>
    <ion-item *ngFor="let event of selectedDate?.events">
      <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
        {{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
      </span>
      <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}}</span>
      <span class="event-detail">  |  {{event.title}}</span>
    </ion-item>
  </div>
</ng-template>
