$fontColor: #444;

$outerPadding: 14px;

/** ---------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------- */

* {
  font-family: "Open Sans";
}

ion-title {
  text-align: left;
  -webkit-padding-start: $outerPadding;
  padding-inline-start: $outerPadding;
  -padding-inline-end: $outerPadding;
  padding-inline-end: $outerPadding;
}

ion-item-group {
  padding-top: 15px;
}
