$fontColor: #444;

$outerPadding: 14px;

/** ---------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------- */


ion-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  -webkit-padding-start: $outerPadding;
  padding-inline-start: $outerPadding;
  -padding-inline-end: $outerPadding;
  padding-inline-end: $outerPadding;
}

ion-item-group {
  padding-bottom: 15px;
}
