<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <!-- Liste mit Filtermöglichkeiten -->
  <ion-list>
    <!-- Gruppe mit Standard-Projekten -->
    <ion-item-group>
      <ng-container *ngFor="let project of allProjects">
        <ion-item (click)="onOpenProject(project.id)" *ngIf="project.standard">
          <ion-label>{{project.title}}</ion-label>
          <ion-badge color="danger">{{countTasks(project, 'project')}}</ion-badge>
        </ion-item>
      </ng-container>
    </ion-item-group>

    <!-- Gruppe mit allen Projekten -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Projekte</ion-label>
        <ion-icon (click)="addProject()" name="add" slot="end"></ion-icon>
      </ion-item-divider>
      <ion-item-sliding *ngFor="let project of allProjects">
        <ion-item-options side="start">
          <ion-item-option (click)="deleteProject(project)" color="danger">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="onOpenProject(project.id)" *ngIf="!project.standard">
          <ion-label>{{project.title}}</ion-label>
          <ion-badge color="primary">{{countTasks(project, 'project')}}</ion-badge>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <!-- Gruppe mit allen Tags -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Tags</ion-label>
        <ion-icon (click)="addTag()" name="add" slot="end"></ion-icon>
      </ion-item-divider>
      <ion-item-sliding (click)="onOpenTag(tag.id)" *ngFor="let tag of allTags">
        <ion-item-options side="start">
          <ion-item-option (click)="deleteTag(tag)" color="danger">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-label>{{tag.title}}</ion-label>
          <ion-badge color="secondary">{{countTasks(tag, 'tag')}}</ion-badge>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <br>
  <br>
</ion-content>